.body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    flex-direction: column;
    margin:0;
}

.main{
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width:400px;
    text-align: center;
}

label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.header{
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.text{
    text-align: left;
    color: grey;
}

input{
    display: block;
    width: 90%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

button{
    padding: 10px;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid ;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    width: 90%;
    font-size: 16px;
    color: black;
}
.loginbutton{
    background-color: black;
    color: white;
}

